[*]
charset=utf-8
end_of_line=lf
insert_final_newline=true
indent_style=space
indent_size=4

[{.babelrc,.stylelintrc,.eslintrc,*.json,*.jsb3,*.jsb2,*.bowerrc,*.js}]
indent_size=2

[{*.ddl,*.sql}]
indent_size=2

[*.less]
indent_size=2

[*.scss]
indent_size=2

[{*.yml,*.yaml}]
indent_size=2

[{*.neon}]
indent_style = tab
indent_size = 4

# Override for Makefile
[{Makefile, makefile, GNUmakefile}]
indent_style = tab
indent_size = 4
