<phpunit bootstrap="./vendor/autoload.php" processIsolation="false">
    <testsuites>
        <testsuite name="util">
            <directory>./tests/Util</directory>
        </testsuite>

        <testsuite name="type">
            <directory>./tests/Type</directory>
        </testsuite>

        <testsuite name="remote-api">
            <directory>./tests/RemoteApi</directory>
        </testsuite>

        <testsuite name="client-api">
            <directory>./tests/ClientApi</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
